root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,ts,html,css,json,md,nix,yml,scss}]
charset = utf-8

[*.{js,ts,html,css,json,md,nix,yml,scss}]
indent_style = space
indent_size = 2
